body
{
  margin: 0;
  background-image: url(assets/sunset-5004905_1920.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------- CSS FOR CREATE ACCOUNT PAGE -----------------*/
#title {
  color: white;
  font-size: 100px;
  font-family: "Tahoma", serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
  position: relative;
  left: 25%;
  top: 20%;
}
.txtInBox{
  position: relative;
  left: 5%;
}

.inputs{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Tahoma", serif;
  font-weight: bold;
  color: white;
  position: relative;
  top: 225px;
  text-shadow: 2px 2px black;
}
#btnCtreateAccount{
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px black;
  position: relative;
  top: 300px;
  left: 900px;
}
#btnCtreateAccount:hover{
  background: black;
}

/*----------------- CSS FOR SIGN IN PAGE -----------------*/
#btnSignIn{
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px black;
  position: relative;
  top: 100px;
  right: 200px;
  
}
#btnSignIn:hover{
  background: black;
}

#SignInHeading{
  color: white;
  font-size: 100px;
  font-family: "Tahoma", serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
  position: relative;
  left: 30%;
  top: 20%;
}

.login{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Tahoma", serif;
  font-weight: bold;
  color: white;
  position: relative;
  top: 225px;
  text-shadow: 2px 2px black;
}